.categories-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px; 
    margin-left: 20px;
    align-self: center;
    justify-content: center;
    margin: 0 auto; 
}
.categories-block{
    width: 300px;
    height: auto;
    max-height: 500px;
    align-items: start;
    justify-content: start;
    border: 2px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 5px;
    margin: 0px;
}
.logo-img{
    width: 100%;
    height: 300px;
    object-fit: fill;
    display: block;
    margin: 0;
    padding: 0;
    border: 5px;
    border-radius: 20px;
}
.font-style{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p,span{
  margin: 2px;
  padding: 5px;
}