:root{
    --main-bg-color: #8ebcfe;
    --main-text-color: #1e3a8a; 
    --header-text-color:#334155;
    --header-bg-color: #7caff7;
    --th-bg-color:#7baff8;
}
body{
    background-color: var(--main-bg-color);
}
footer{
    text-align: center;
}
.main-container{
    display: grid;
    grid-template-areas:
     "header search"
     "header main"
     "header footer";
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto 1fr auto;  
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.navigation-bar{
    position: fixed;           
    top: 0;
    left: 0;
    width: 100px;              
    height: 100vh;  
    display: flex;
    z-index: 1000;
    flex-direction: column;
    background-color: var(--header-bg-color);
}
.navigation-bar ul{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation-bar li{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin: 8px 0; 
    overflow: hidden;
}
.navigation-bar a{
    display: block;
    text-decoration: none; 
    font-weight: 600;
    color: var(--header-text-color); 
}
.navigation-bar a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
}
.status-avaliable{
    color: rgba(86, 255, 1, 0.776);
}
.status-not-avaliable{
    color: red;
}
.status-avaliable,
.status-not-avaliable {
  vertical-align: middle; 
  font-size: 18px;
  line-height: 1;
}



